<h2>Game Assets</h2>
<ul>
  <li>
    Map tiles
    <ul>
      <li>
        <a href="https://limezu.itch.io/modernexteriors" target="_blank"
          >modern exteriors
        </a>
      </li>
      <li>
        <a href="https://limezu.itch.io/moderninteriors" target="_blank">
          modern interiors
        </a>
      </li>
      <li>
        <a href="https://limezu.itch.io/modernoffice" target="_blank">
          modern office
        </a>
      </li>
    </ul>
  </li>
  <li>
    Player sprites
    <ul>
      <li>
        <a
          href="https://evanwritesgames.itch.io/free-retro-cybercity-cyberpunk-2077edgerunners-inspired-character-pack"
          target="_blank"
        >
          Cyberpunk Tribute Pack
        </a>
      </li>
    </ul>
  </li>
  <li>
    Login UI
    <ul>
      <li>
        <a href="https://codepen.io/cssgrid/pen/BaYKdeM" target="_blank">
          font-palette
        </a>
      </li>
    </ul>
  </li>
  <li>
    External Provider, Backend Library, Frontend Framework
    <ul>
      <li>
        <a href="https://auth0.com/" target="_blank"> auth0 </a>
      </li>
      <li>
        <a href="https://socket.io/" target="_blank"> socket.io </a>
      </li>
      <li>
        <a href="https://peerjs.com/" target="_blank"> peerjs </a>
      </li>
      <li>
        <a href="https://pixijs.com/" target="_blank"> pixijs </a>
      </li>
    </ul>
  </li>
</ul>
<button
  id="backbtn"
  class="button-62 button-right"
  role="button"
  routerLink="/"
>
  Chat-Town
</button>
