<h2>Game Assets</h2>
<ul>
  <li>
    Map tiles
    <ul>
      <li>
        <a href="https://limezu.itch.io/modernexteriors" target="_blank"
          >modern exteriors
        </a>
      </li>
      <li>
        <a href="https://limezu.itch.io/moderninteriors" target="_blank">
          modern interiors
        </a>
      </li>
      <li>
        <a href="https://limezu.itch.io/modernoffice" target="_blank">
          modern office
        </a>
      </li>
    </ul>
  </li>
  <li>
    Player sprites
    <ul>
      <li>
        <a
          href="https://evanwritesgames.itch.io/free-retro-cybercity-cyberpunk-2077edgerunners-inspired-character-pack"
          target="_blank"
        >
          Cyberpunk Tribute Pack
        </a>
      </li>
    </ul>
  </li>
</ul>
<button
  id="backbtn"
  class="button-62 button-right"
  role="button"
  routerLink="/"
>
  Chat-Town
</button>
