<header>
  <h3>Login page</h3>
  <div *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <button class="btn btn-warning" (click)="auth.logout()">Log out</button>
  </div>

  <ng-template #loggedOut>
    <button class="btn btn-primary" (click)="auth.loginWithRedirect()">
      Log in
    </button>
  </ng-template>
</header>

<div *ngIf="auth.user$ | async as user">
  <h2>Welcome</h2>
  <p>{{ user.email }}</p>
  <img [src]="user.picture" />
</div>

<app-test-component></app-test-component>
