<header>
  <h3 class="grays">Welcome to Chat-Town!!!</h3>
  <div *ngIf="auth.user$ | async as user">
    <div class="welcome-message">
      <h3 class="grays in-welcome">Hi {{ user.email }}</h3>
      <div class="mint in-welcome" id="call-user">
        Please press: G to call everyone in the chat-town.
      </div>
      <div class="mint in-welcome hidden" id="hang-up">
        H to hang up all calls to you.
      </div>
      <div class="mint in-welcome hidden" id="mute">M to mute/unmute</div>
      <div class="in-welcome hidden" id="icons">
        <img
          src="../../../assets/icon/volume.png"
          alt="vol"
          id="vol"
          width="30px"
          height="30px"
        />
        <img
          src="../../../assets/icon/microphone.png"
          alt="mic-on"
          id="mic-on"
          width="30px"
          height="30px"
        />
        <img
          src="../../../assets/icon/microphone-mute.png"
          alt="mic-off"
          id="mic-off"
          width="30px"
          height="30px"
        />
      </div>
    </div>
  </div>
  <div *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <button class="button-62" role="button" (click)="auth.logout()">
      Log out
    </button>
  </div>

  <ng-template #loggedOut>
    <button class="button-62" role="button-right" (click)="auth.loginWithRedirect()">
      Log in
    </button>
    <button class="button-62 button-right" role="button" routerLink="/credit">
      Credits
    </button>
  </ng-template>

</header>

<div id="game-container">
  <canvas id="game-canvas"></canvas>
</div>
