#game-container {
  position: relative;
  margin: auto;
  width: 480px;
  height: 320px;
  transform: scale(3) translateY(35%);
}

#game-container canvas {
  image-rendering: pixelated;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: red;
}
