<header>
  <h3 class="grays">Welcome to Chat-Town!!!</h3>
  <div *ngIf="auth.user$ | async as user">
    <div class="welcome-message">
      <h3 class="grays in-welcome">Hi haomi.hu@mail.utoronto.ca</h3>
      <div class="mint in-welcome">
        Please press: G to call everyone in the chat-town.
      </div>
      <div class="mint in-welcome">H to hung up all calls to you.</div>
      <div class="mint in-welcome">M to mute/unmute</div>
    </div>
  </div>
  <div *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <button class="button-62" role="button" (click)="auth.logout()">
      Log out
    </button>
  </div>

  <ng-template #loggedOut>
    <button class="button-62" role="button" (click)="auth.loginWithRedirect()">
      Log in
    </button>
  </ng-template>
</header>

<div id="game-container">
  <canvas id="game-canvas"></canvas>
</div>
